
header {
  /*background-color: black;*/
  color: #4a4a4a;
  font-family: helvetica;
  text-align: center;
}

.claim-grid {
  display: grid;
  grid-template-rows: 1fr 9fr;
  /*border: 2px solid;*/
  width: 600px;
  margin: auto;
}

.claim-title {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  border: 2px solid;
}


.new-page {
  display: grid;
  grid-template-rows: 1fr 1fr 8fr;
  width: 100%;
  height: 100%;
  background-color: #ffffff
  /*margin-left: 50px;*/
}

button:hover {
  cursor: pointer;
}

.menu-table {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid;
  border-top: 1px solid;
  margin-bottom: 10px;

}

.chosen-table {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid;
  border-top: 1px solid;


}

.menu-dish, .chosen-dish {
  display: flex;
  font-family: Roboto;
  font-size: 25px;
  font-weight: 300;
  line-height: 50px;
  margin-left: 15px;
  /*background-color: #fafafa*/
}

.menu-price, .menu-want, .chosen-price, .chosen-want, .chosen-remove {
  font-family: Roboto;
  font-size: 25px;
  font-weight: 300;
  line-height: 50px;
  /*background-color: #fafafa*/
}

.menu-list {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  width: 100%;
  height: 50px;
  margin-top: 5px;
  margin-left: 10px;
  /*border: 2px solid;*/
  /*background-color: #fafafa*/
}

.chosen-list {
  display: grid;
  grid-template-columns: 185px 82px 130px 10px;
  width: 100%;
  height: 50px;
  margin-top: 5px;
  margin-left: 10px;
  /*border: 2px solid;*/
  /*background-color: #fafafa*/
}



.menu-box {
  overflow: scroll;
  height: 475px;
  border-bottom: 2px solid
  /*border: 2px solid;*/
  /*background-color: #fafafa*/
}

.chosen-box {
  overflow: scroll;
  height: 460px;
}




.flow {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "map menu chosen";
  grid-gap: 10px;
}

.choose-restaurant {
  display: grid;
  grid-template-rows: 8fr, 1fr;
  margin: 0;
  width: 100%;
  height: 100%;
  border: 2px solid;
  border-color: #ffffff;
  grid-area: map;
}

.map {
  width: 100%;
  height: 100%;
}

.menu {
  grid-area: menu;
  height: 650px;
  border: 2px solid;
  border-color: #fafafa;
  z-index: 1;
}

.chosen {
  grid-area: chosen;
  height: 650px;
  border: 2px solid;
  border-color: #fafafa;
}

.filter-bar {
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid transparent;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  height: 29px;
  margin-top: 10px;
  margin-left: 3%;
  outline: none;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 200px;
}

.add-item {
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid transparent;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  height: 29px;
  margin-top: 10px;
  outline: none;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 150px;
  margin-left: 2%;
}

.add-price {
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid transparent;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  font-family: Roboto;
  font-size: 10px;
  font-weight: 300;
  height: 29px;
  margin-top: 10px;
  margin-left: 3%;
  outline: none;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 80px;
  margin-left: 22%;
}

.grabMenu {
  background: url("./load.png") no-repeat;
  /*background-repeat: no-repeat;*/
  background-position: 50% 50%;
  height: 50px;
  width: 50px;
  background-size: cover;
  border: none;
}

.submit-receipt-button {
  background-color: #21CE99;
  background-position: 50% 50%;
  height: 60px;
  width: 100%;
  background-size: cover;
  border: 1px solid;
  color: white;
  bottom: 0px;
  right: 0px;
  position: absolute;
  font: helvetica;
  font-size: 25px;
}

.submit-receipt {
  height: 100px;
  /*border: 2px solid;*/
  position: relative;
}

.discount-rate {
  /*height: 100*/
  display: grid;
  grid-template-columns: 1fr 1fr;
  bottom: 0;
  /*border: 2px solid;*/
  /*text-align: right;*/
  font-family: Roboto;
  font-size: 18px;
  font-weight: 300;
  /*line-height: 50px;*/
}


.input-phone {
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid transparent;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  height: 29px;
  left: 0px;
  outline: none;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 200px;
}

.event-bar {
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid transparent;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  height: 29px;
  outline: none;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 500px;
}

.subtotal {
  border-top: 1px solid;
  /*margin-top: 40px;*/
  text-align: right;
  font-family: Roboto;
  font-size: 25px;
  font-weight: 300;
  line-height: 50px;
  width: 450px;
  right:0px
}

.add-button {
  background: url("./plus.png") no-repeat;
  /*background-repeat: no-repeat;*/
  background-position: 50% 50%;
  height: 25px;
  width: 25px;
  background-size: cover;
  border: none;
  margin-left: 10%;
}

/* put the height and width of your image here */

.phone-img {
  /*margin-top: 15px;*/
  height: 25px;
  width: 25px;
  margin-left: 10px;
  margin-right: 15%;
}
