<div ng-controller="MealController as $ctrl">
  <h1 ng-click="$ctrl.try()" >Claim your items</h1>
  <div class="claim-grid">
    <div class="claim-title">
      <div>Item</div>
      <div>Price</div>
      <div>Quantity</div>
      <div>Share</div>
    </div>
  </div>
  <meal-item-controller ng-repeat="receiptItem in receiptItems" receipt-item="receiptItem"></meal-item-controller>
  <input
    type="text"
    ng-model="$ctrl.diner"
    placeholder="Your name here.."
    ></input>
  <br>
  <button ng-click="$ctrl.handleSubmit()">Submit</button>
</div>
