<div ng-controller="NewController as $ctrl">
  <h1 ng-click="$ctrl.handleClick()">
    Create your digital receipt!
  </h1>

  <div>
    <input type="text" ng-model="$ctrl.googleSearch"></input>
    <button ng-click="$ctrl.submitSearch()">Search</button>
  </div>

  <div className="eventName" style="margin-top:600px">
    Event Name:<input type="text" ng-model="$ctrl.eventName"/>
  </div>
  <div>
    <button ng-click="$ctrl.addReceiptItem()"> Add Item </button> </br>
    <add-item ng-repeat="receiptItem in $ctrl.receiptItems" receipt-item="receiptItem"></add-item>
  </div>
  <button ng-click="$ctrl.submitEvent()">Submit</button>
</div>
