<div ng-controller="ReceiptController as $ctrl" class = 'receiptPage'>
  <div class="receiptTop"> 
    <p class="header">Receipt</p>
  </div>
  <div class="receiptMid">
    <receipt-diner-controller ng-repeat="receiptDiner in $ctrl.payers" receipt-diner="receiptDiner"></receipt-diner-controller>
  </div>
  <div class = 'receiptBot'>
    Subtotal: ${{$ctrl.data.grandBase}} <br>
    Tax: ${{$ctrl.data.grandTip}}<br>
    {{$ctrl.data.grandTipRate}}% Tip: ${{ctrl.data.grandTip}}<br>
    Total: ${{$ctrl.data.grandTotal}}<br>
    <input type="text" placeholder="Enter Phone Number" ng-model="$ctrl.number"/><br>
    <button ng-click="$ctrl.sendNumber()">History</button>
  </div>
</div>