<div style="padding:10px" class = 'diner'>
  <div class=receiptEmph style = 'text-align: center'>
    {{$ctrl.receiptDiner.dinerName}}
  </div>
  <br>
  <div class="receiptPokemon">
    <img size = 200% src=https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{$ctrl.receiptDiner.pokemonNum}}.png>
  </div>
  <br>
  <div class = 'receiptDetails'>
    <button ng-click="showDetails = ! showDetails">Details</button>
  </div>
  <div ng-show="showDetails">
    <div ng-repeat="item in $ctrl.receiptDiner.items"> {{item[0]}} - ${{item[1]}} </div>
    Tax - ${{$ctrl.receiptDiner.tax}} 
    <br>
    Tip - ${{$ctrl.receiptDiner.tip}}
  </div>
  <div class=receiptEmph>Total - ${{$ctrl.receiptDiner.total}}</div>
</div>